#delete-btn{
 visibility: hidden;
}

#table-row:hover #delete-btn{
    visibility: visible;
}

body{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    height: 100%;
}

.stock-time > button{
    margin-right: 5px;
}

.stock-data span{
    font-weight: bold;
}